:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #ffffff;
  --white-transparent-color: rgba(255, 255, 255, 60%);
  --accent-color: #2196f3;
  --grey-background: #f5f4fa;
  --dark-grey-background: #2f303a;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.container {
  width: 1200px;
  margin: auto;
  padding: 94px 15px;
}
header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.container .logo {
  color: #000000;
  box-sizing: border-box;
  margin: 0;
  margin-right: 93px;
}
.logo span {
  color: var(--accent-color);
}
.menu-list {
  display: flex;
}
.menu-item {
  height: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.28px;
}
.item-link {
  padding: 30px 0;
}
.menu-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list {
  display: flex;
}
.contact-item {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.item-link:hover,
.contact-item-link:hover,
.item-link:focus,
.contact-item-link:focus,
.footer-contact-item:hover,
.footer-contact-item:focus {
  color: var(--accent-color);
  outline: none;
}
.hero-section {
  background-color: var(--dark-grey-background);
  text-align: center;
  height: 600px;
  vertical-align: middle;
  padding: 200px 0;
}
.hero-section .container {
  padding: 0;
}
.hero-section h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
}
.hero-section button {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}
.quality-section .container {
  padding-bottom: 0;
}
.quality-list {
  display: flex;
  justify-content: space-between;
}
.quality-item:not(:last-child) {
  margin-right: 30px;
}
.quality-item h3 {
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.products-section {
  text-align: center;
}
.products-section h2,
.our-team-section h2 {
  margin-bottom: 50px;
}
.products-list {
  display: flex;
  justify-content: space-between;
}
.our-team-section {
  background-color: var(--grey-background);
  text-align: center;
}
.team-list h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list p {
  font-size: 16px;
  letter-spacing: 0.48px;
}
.footer {
  background-color: var(--dark-grey-background);
  color: var(--white-color);
}
.footer-container {
  padding: 60px 15px;
}

.address-logo,
.address-logo .logo {
  color: var(--white-color);
  letter-spacing: 0.42px;
  font-style: normal;
  margin-bottom: 9px;
}
.address-logo p {
  margin-top: 20px;
}
.footer-contact-item {
  font-style: normal;
  letter-spacing: 0.42px;
}
.footer-contact-link {
  color: var(--white-transparent-color);
}
.footer-contact-item:first-child {
  margin-bottom: 9px;
}

.filter-menu {
  text-align: center;
  margin-bottom: 56px;
}
.filter-item {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--grey-background);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border: none;
  cursor: pointer;
}
.filter-item:hover,
.filter-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.project-item {
  margin: 15px;
}
.item-description {
  padding: 20px 24px;
}
.item-description h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.item-description p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.abc {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  background: repeating-conic-gradient(
    #eee 2.5%,
    gray 5%,
    #000 7.5%,
    gray 10%,
    #eee 12.5%
  );
  z-index: 1;
  display: flex;
  /* transform: rotate(-45deg); */
}
.efg {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 50%;
  z-index: 10;
  background-color: white;
}

.abc2 {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  background: repeating-conic-gradient(
    #eee 2.5%,
    gray 5%,
    #000 7.5%,
    gray 10%,
    #eee 12.5%
  );
  z-index: 20;
  display: flex;
  transform: rotate(18deg);
}
.efg2 {
  width: 75%;
  height: 75%;
  margin: auto;
  border-radius: 50%;
  z-index: 30;
  background-color: white;
}
.abc3 {
  width: 75%;
  height: 75%;
  margin: 12.5%;
  border-radius: 50%;
  background: repeating-conic-gradient(
    #eee 2.5%,
    gray 5%,
    #000 7.5%,
    gray 10%,
    #eee 12.5%
  );
  z-index: 20;
  display: flex;
  transform: rotate(18deg);
}
.efg3 {
  width: 60%;
  height: 60%;
  margin: auto;
  border-radius: 50%;
  z-index: 30;
  background-color: white;
}

.neon-box {
  max-width: 300px;
  padding: 60px;
  background-color: var(--dark-grey-background);
  margin: auto;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.neon {
  color: white;
  letter-spacing: 16px;
  font-size: 50px;
}
.neon span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;

  text-shadow: 0 -1px 2px #ffe44aea, -1px 0 2px #ffe44aea, 0 1px 2px #ffe44aea,
    1px 0 2px #ffe44aea, 0 -2px 1px #ffa115ea, -2px 0 1px #ffa115ea,
    0 2px 1px #ffa115ea, 2px 0 1px #ffa115ea, 0 -4px 5px #ff0000,
    -4px 0 5px #ff0000, 0 4px 5px #ff0000, 4px 0 5px #ff0000;
}
