@import "./utils/variables";
@import "./utils/global";
@import "./utils/mixins";

@import "./components/header";
@import "./components/hero";
@import "./components/quality";
@import "./components/products";
@import "./components/team";
@import "./components/clients";

@import "./components/portfolio/filter";
@import "./components/portfolio/projects";
@import "./components/footer";

@import "./components/backdrop";
@import "./components/logo";
@import "./components/button";

@import "./utils/placeholders";

.section {
  width: 480px;
  margin: auto;
  padding: 0 15px;
}

.container {
  margin: auto;
}

// .section {
//   width: 1600px;
//   margin: auto;
// }
// .container {
//   width: 1200px;
//   margin: auto;
//   padding: 94px 15px;
// }
