.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  line-height: 1.17;
}
.header .header-container {
  height: 60px;
  // box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: none;
}
.header-nav.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;

  padding: 48px 40px;

  background-color: $white-color;
  position: absolute;
  top: 0;
  left: 0;
}

.header-menu_item {
  color: $title-text-color;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.header-menu_link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus {
    @extend %accent-style;
  }
}

.contact-list {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 86px;
}

.contact-item {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
}
.contact-item:first-child {
  font-size: 24px;
  letter-spacing: 0.48px;
  margin-top: 32px;
}
.contact-item-link {
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:visited {
    color: $primary-text-color;
  }

  &:hover,
  &:focus {
    @extend %accent-style;
  }
}

.mail-icon,
.telephone-icon {
  display: none;
  margin-bottom: 32px;
}

.socialmedia-list {
  display: flex;
  justify-content: flex-start;

  position: absolute;
  bottom: 48px;
  left: 40px;
}

.socialmedia-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;

  display: flex;
  justify-content: center;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.socialmedia-link {
  color: $accent-color;
}
// .header .header-container {
//   height: 80px;
//   box-sizing: border-box;
//   @include flex(flex, space-between, center);

//   padding: 0 15px;
// }
// .header-container * {
//   display: flex;

//   height: 100%;
//   align-items: center;
// }
// .header-nav {
//   display: flex;
// }

// .header-menu_item {
//   height: inherit;
//   color: $title-text-color;
//   font-weight: 500;
//   letter-spacing: 0.28px;
// }
// .header-menu_link {
//   position: relative;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:visited {
//     color: inherit;
//   }

//   &:hover,
//   &:focus {
//     @extend %accent-style;
//   }
// }

// .current-page-underline::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;

//   width: 100%;
//   height: 4px;
//   background-color: $accent-color;
//   border-radius: 2px;
// }
// .header-menu_item:not(:last-child),
// .contact-item:not(:last-child) {
//   margin-right: 50px;
// }
// .contact-list {
//   display: flex;
// }
// .contact-item {
//   font-weight: 500;
//   letter-spacing: 0.28px;
// }
// .contact-item-link {
//   display: inline-flex;
//   align-items: center;
//   color: $primary-text-color;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:visited {
//     color: $primary-text-color;
//   }

//   &:hover,
//   &:focus {
//     @extend %accent-style;
//   }
// }

// .mail-icon,
// .telephone-icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
